<!doctype html>
<html lang="en">

<head>
    <title>CCM EDUCATION - ENGLISH</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.css" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="css/css-circular-prog-bar.css">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="public/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="public/css/responsive.css" rel="stylesheet" />




  <link rel="stylesheet" href="public/css/css-circular-prog-bar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- Image and text -->
    <div class="top_container">
      <!-- header section strats -->
      <%- include('partical/menu'); %>
    <!-- end header section -->

      <section class="hero_section ">
        <div class="hero-container container">
          <div class="hero_detail-box">
            <h1>
              Best way
              to fund
              your study
              abroad
            </h1>
            <p>
              ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam
            </p>
            <div class="hero_btn-continer">
              <a href="" class="call_to-btn btn_white-border">
                Read More
              </a>
            </div>
          </div>
          <div class="hero_img-container">
            <div>
              <img src="public/images/hero.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="common_style">

      <!-- about section -->
      <section class="about_section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="about_img-container">
                <img src="images/about.png" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="about_detail-box">
                <h3>
                  About our School
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                </p>
                <div class="">
                  <a href="about.ejs" class="call_to-btn btn_white-border">
                    Read More
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
  
      <!-- end about section -->
  
      <!-- admission section -->
      <section class="admission_section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="admission_detail-box">
                <h3>
                  Units
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                </p>
                <div class="">
                  <a href="units.ejs" class="call_to-btn btn_white-border">
                    GO
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="admission_img-container">
                <img src="images/admission.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
  
  
  
      <!-- end admission section -->
  
      <!-- why section -->
      <section class="why_section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="why_img-container">
                <img src="images/why.png" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="why_detail-box">
                <h3>
                  Why learn on CCM EDUCATION
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                </p>
                <div class="">
                  <a href="why.ejs" class="call_to-btn btn_white-border">
                    Read More
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  
  
      <!-- end why section -->
  
      <!-- determine section -->
      <section class="determine_section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="determine_detail-box">
                <h3>
                  Datermine the right for you
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                </p>
                <div class="">
                  <a href="" class="call_to-btn btn_white-border">
                    Read More
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="determine_img-container">
                <img src="images/determine.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
  
  
      <!-- end determine section -->
  
    </div>

    <div>
      <h3 style="text-align: center;">
        ENGLISH COURSES
      </h3>
    </div>
	
    <div class="container mt-4 p-4">
        <div class="row row-cols-1 row-cols-md-2">
            <% units.forEach((unit) => { %>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <form class="card" method="GET" action="/exam/<%= unit.slug%>">
                        <img src="./images/<%= unit.background %>" class="card-img-top" alt="./EnglishIT1.jpg">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= unit.name%>
                            </h5>
                            <p class="card-text">
                                <%= unit.description %>
                            </p>
                            <button type="submit" class="btn btn-outline-primary">Start Test</button>
                        </div>
                    </form>
                </div>
                <%})%>

        </div>
    </div>

    <!-- client section -->
    <section class="client_section layout_padding">
      <h2 class="">
        Testimonial
      </h2>
      <div class="container">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-3">
                          <div class="client_img-box">
                            <img src="images/cuong.jpg" alt="">
                          </div>
                        </div>
                        <div class="col-md-9">
                          <div class="client_detail-box">
                            <h5>
                              Nguyen Tan Quoc Cuong
                            </h5>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                            </p>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-3">
                          <div class="client_img-box">
                            <img src="images/cong.jpg" alt="">
                          </div>
                        </div>
                        <div class="col-md-9">
                          <div class="client_detail-box">
                            <h5>
                              Do Quoc Cong
                            </h5>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                            </p>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-3">
                          <div class="client_img-box">
                            <img src="images/minh.jpg" alt="">
                          </div>
                        </div>
                        <div class="col-md-9">
                          <div class="client_detail-box">
                            <h5>
                              Nguyen Hoang Minh
                            </h5>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                            </p>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
      </div>
    </section>

    <section class="contact_section ">

        <div class="container">
         
          <div class="row">
            <div class="col-md-6">
              <div class="d-flex justify-content-center d-md-block">
                <h2>
                  Contact Us
                </h2>
              </div>
              <form action="">
                <div class="contact_form-container">
                  <div>
                    <div>
                      <input type="text" placeholder="Name">
                    </div>
                    <div>
                      <input type="email" placeholder="Email">
                    </div>
                    <div>
                      <input type="text" placeholder="Phone Number">
                    </div>
                    <div class="mt-5">
                      <input type="text" placeholder="Message">
                    </div>
                    <div class="mt-5">
                      <button type="submit">
                        send
                      </button>
                    </div>
                  </div>
    
                </div>
    
              </form>
            </div>
            <div class="col-md-6">
              <div class="contact_img-box">
                <img src="public/images/students.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end contact section -->
      <%- include('partical/chat'); %>
      <%- include('partical/footer'); %>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>